.jumbotron .cont #intro h2 {
	font-family: love ya like a sister;
	margin-left: 1%;
}
.jumbotron .cont #intro p {
	font-family: salsa;
}
.jumbotron .cont #sec h2 {
	font-family: love ya like a sister;
	margin-left: 1%;
}
.jumbotron .cont #sec p {
	font-family: salsa;
}
.jumbotron .cont #thr h2 {
	font-family: love ya like a sister;
	margin-left: 1%;
}
.jumbotron .cont #thr p {
	font-family: salsa;
}
body {
	overflow-x: hidden;
	overflow-y: scroll;
}
footer{}
.container-fluid{
	font-family: cinzel decorative;
}
.container-fluid a{
	color: white;
}
.glossary h1 {
	text-align: center;
	display: block;
	margin-top: 7%;
	font-family: 'Love Ya Like A Sister';
}
.searchbar input {
    width: 10%;
	right: 2%;
	position: absolute;
    text-align: left;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
	font-family: philosopher;
    background-color: white;
    background-image: url('images/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 8px 18px 8px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.glossary input[type=text]:focus {
    width: 15%;
	right: 1%;
	position: absolute;
	font-family: philosopher;
}
.glossarybody h3 {
	left: 5%;
	top: 25%;
	position: absolute;
	font-family: 'cabin sketch';
}
.glossarybody table {
	position: relative;
    border-collapse: collapse;
    width: 90%;
	margin: 6% 5% 1% 5%;
}

.glossarybody th {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
	font-family: 'ribeye marrow';
}
.glossarybody td {
	text-align: left;
    border-bottom: 1px solid #ddd;
	font-family: 'Unkempt';
	font-size: 120%;
}

.glossarybody tr:hover{
	background-color:#f5f5f5
}

.glossarybody #terms table {
	position: absolute;
    border-collapse: collapse;
    width: 90%;
	margin: 1% 5% 1% 5%;
}
.glossarybody #terms h3 {
	left: 5%;
	margin-top: 3%;
	position: relative;
	font-family: 'cabin sketch';
}
.arrowup img {
	position: fixed;
	right: 0;
	bottom:1%;
	height:8%; 
	width:4%;
}
.jumbotron .internet h2{
	font-family: great vibes;
	margin-top: 3%;
	padding-bottom: 1%;
	font-size: 290%;
	margin-left: 4%;
}
.jumbotron .internet p{
	font-family: kurale;
	font-size: 140%;
	margin-left: 6%;
}
.jumbotron .internet h3{
	font-family: special elite;
	margin-left: 1%;
	padding-top: 1%;
	margin-left: 4%;
	font-size: 130%;
}
.jumbotron .www h2{
	font-family: great vibes;
	margin-top: 3%;
	padding-bottom: 1%;
	font-size: 290%;
}
.jumbotron .www p{
	font-family: kurale;
	font-size: 140%;
	margin-left: 3%;
}
.jumbotron .www h3{
	font-family: special elite;
	margin-left: 1%;
	padding-top: 1%;
}
.jumbotron .container h2{
	font-family: great vibes;
	margin-top: 3%;
	padding-bottom: 1%;
	font-size: 290%;
}
.jumbotron .container li{
	font-family: kurale;
	font-size: 140%;
	margin-left: 3%;
}
.jumbotron .acronym{
	font-family: corben;
}
#intro h2 {
    margin-top: 2%;
    text-align: center;
}
#intro {
    width: 35%;
    text-align: left;
    margin-left:1%;
}
#sec {
    width:30%;
    text-align: center;
    margin-left: -10%;
}
#thr {
    width: 30%;
    text-align: right;
    margin-left: -10%;
}
.containertwo h2{
	font-family: great vibes;
	margin-top: 3%;
	margin-left: 5%;
	padding-bottom: 1%;
	font-size: 290%;
}
.containertwo li{
	font-family: kurale;
	font-size: 140%;
	margin-left: 8%;
	text-indent: 2%;
}
.container p{
	font-family: kurale;
	font-size: 140%;
	margin-left: 8%;
}
.containerthree h2{
	font-family: great vibes;
	margin-top: 3%;
	margin-left: 5%;
	padding-bottom: 1%;
	font-size: 290%;
}
.containerthree li{
	font-family: kurale;
	font-size: 140%;
    margin-left: 8%;	
}
.containerthree p{
	font-family: kurale;
	font-size: 140%;
	margin-left: 8%;
	margin-top: 2%;
}
.carousel-inner {
    margin-top: 2%;
    width: 100%;
}
.cont {
    display: flex;
    font-size: 85%;
}
.container .http {
    display: flex;
}
.container .http .list-inline {
    margin-top: 2%;
    margin-left: -6%;
}
.container .http h2 {
    margin-left:-6%;
    margin-top: 20%;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.containertwo .uhttp {
    display: flex;
}
.containertwo .uhttp .list-inline {
    margin-top: 2%;
    margin-left: 1%;
}
.containertwo .uhttp h2 {
    margin-left:1%;
    margin-top: 2%;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.containertwo .uhttp{
    display: inline-flex;
}
.containertwo .uhttp .uri {
    text-align: left;
    margin-left: -5%;
    width: 30%;
}
.containertwo .uhttp .uritwo {
    text-align: right;
    margin-right: 2%;
    width: 20%;
}
